

:root {
    --cor-de-fundo: linear-gradient(to right, #ffcec3, #9c8fc7, #314371);
   --cor-de-link: #000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    background: var(--cor-de-fundo) ;
    box-sizing: border-box;
    display: grid;
    height: 100vh;
    margin: 0;
    font-size: 2em;
}

section.menu{
    color: #1f0535;
    font-family: 'cookie';
    padding-top: 50px;
    padding-left: 20px;
}

.menu__list{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
    padding-right: 20px;
}

nav li{
    margin: 0 0 0 15px;
    right: 0;
    font-size: 1rem;
}

nav a{
    font-family: Montserrat;
    color: #fdcbff;
    font-weight: lighter;
    text-decoration: none;
}

nav a:hover{
    color: #410741;
    transition: color .56s;
}

section.title{
    padding-top: 100px;
    padding-left: 20px;
    font-family: montserrat;

.title_bio{
        font-family: montserrat;
        font-weight: lighter;
        }
.title_subsection{
        padding: 50px 10px 50px 10px ;
        font-family: raleway;
        font-weight: normal;
        font-size: 1em;
    }    
}

.sobremi_class{
    display: flex;
}

.container {
    margin: auto;
    padding-left: 20px;
    display: flex;
    align-self: center; 
} 

.profile-wrapper {
    width: 22rem;
    height: 28rem;
    position: relative;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 22rem;
    height: 28rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.5s;
}
 
.profile .profile-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: var(--background);
    transition: .5s;
}

.profile-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile:hover img {
    opacity: 0.4;
    transition: .5s;
}

.profile:hover .profile-image {
    transform: translateY(-112px);
    transition: all .9s;
}

.profile:hover .profile-bio {
    opacity: 0.9; 
}

.social-icons {
    position: absolute;
    display: flex;
    gap: 0.75rem;
    z-index: 3;
    bottom: 10.125rem;

}
  
.social-icons li {
    list-style: none;
}

.social-icons li a {
    position: relative;
    display: block;
    display: grid;
    place-items: center;
    color: #53014d;
    background: #fff;
    font-size: 23px;
    font-weight: bold;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #CDCDCD;
    border-radius: 0.5rem;
    transition: .2s;
    transform: translateY(2rem);
    opacity: 0;
}

.social-icons li a:hover {
    background: var(--background);
    transition: .2s;
}

.social-icons li a svg {
    color: var(--background);
    transition: .2s;
}

.social-icons li a:hover svg {
    color: white;
    transition: 0.8s;
    transform: rotateY(360deg);
}

.profile:hover .social-icons li a {
    opacity: 1; 
}

.profile:hover li:nth-child(1) a {
    transition-delay: 0.1s;
}

.profile:hover li:nth-child(2) a {
    transition-delay: 0.2s;
}

.profile:hover li:nth-child(3) a {
    transition-delay: 0.3s;
}

.profile:hover li:nth-child(4) a {
    transition-delay: 0.4s;
}

.profile:hover li:nth-child(5) a {
    transition-delay: 0.5s;
}

.profile-name {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 7rem;
    padding: 0.75rem 0.875rem;
    z-index: 1;
    color: #370942;
    background-color: #fff;
    text-align: left;
    font-family: cookie;
}

.profile-bio{
    font-family: Montserrat;
    font-size: 18px;
}

.profile:hover .profile-name {
    background-color: #fff;
}

.profile-name h2 {
    margin-bottom: 0.5rem;
}

/*Sección About*/

.about_title{
    padding: 10px;
}


section.about {
    padding-top: 100px;
    padding-left: 20px;
} 

.about_container{
    align-self: center;
}

h3{
    font-family: Cookie;
    font-size: 58px;
    color: #1f0535;
  }
  
p{
    font-family: montserrat;
    font-size: 22px;
    padding: 5px;
  }

 /*Seccion Skills*/
section.skills{
    font-family: Montserrat;
    font-size: 25px;
    padding-top: 50px;
    padding-left: 20px;
}

.skills__line img:hover{
    transform: rotateY(360deg);
    transition: 1s;
}
.skills__line{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.skills__line img{
    width: 100%;
}

.skills__line li{
    list-style: none;
}

.skills__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    padding: 8px 3px 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}
/*Sección Hobbies*/

section.hobbies{
    font-family: Montserrat;
    font-size: 25px;
    padding-top: 50px;
    padding-left: 20px;
}

.hobbies__line img:hover{
    transform: rotateY(360deg);
    transition: 1s;
}

.hobbies__line{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.hobbies__line img{
    width: 100%;
}

.hobbies__line li{
    list-style: none;
}

.hobbies__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    padding: 8px 3px 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* Experiencia Académica*/

h2{
font-family: Cookie;
font-size: 58px;
color: #1f0535;
}

section.academic{
    font-family: Montserrat;
    font-size: 25px;
    padding-top: 50px;
    padding-left: 20px;
}

.academic__courses{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.academic__courses img{
    width: 100%;
}

.academic__courses li{
    list-style: none;
}

.academic__courses__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    padding: 8px 3px 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}
/* experiencia*/


section.experience{
    font-family: Montserrat;
    font-size: 25px;
    padding-top: 50px;
    padding-left: 20px;
}

.experience__title{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.experience__box img{
    width: 100%;
    padding: 10px 10px 20px 10px;
}

.experience__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    padding: 8px 3px 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}

button{
    font-family: montserrat;
    background:#c8a4f7;
    color:#370579;
    border:none;
    position:relative;
    width: 100%;
    height:60px;
    font-size:2rem;
    padding: 0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#370579;
    color:#c8a4f7;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #750058;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

/*Contacto*/

section.formcontato{
    font-family: Montserrat;
    font-size: 25px;
    padding-top: 50px;
    padding-left: 20px;
}

img.formcontato__img{
    width: 10%;
}

h3.formcontato__subtext{
    font-family: montserrat;
    color: #000;
    font-size: 20px;
    font-weight: normal;
    padding: 10px;
}

.formcontato__input, .formcontato__textarea{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 500px;
    font-family: montserrat;
}

.input{
    font-family: montserrat;
    list-style: none;
    color:#370579;
    border:none;
    position:relative;
    width: 200px;
    font-size: 20px;
    padding:0 2em;
}

li.button-sent{
    padding: 20px;
    list-style: none;
}

button.formcontato__botao{
    width: 50%;
    align-items: center ;
}

/*footeer*/

.desarrollado{
    font-size: 20px;
    font-family: cookie;
    color:#750058;
}

section.footer{
    text-align: center;
    padding: 40px 40px 10px 40px;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

/*Mobile*/
@media (width <= 425px) {

    /*Menu*/

    .menu__list{
        
    }

    /*Titulo*/
    
    /*Sección sobre mi*/
    
    /*Skills*/
    
    /*Hobbies*/
     
    /*Formación Académica*/
    
    /*Experiencia Profesional*/
    
     /*Contacto*/
    
    /*Footer*/
    
    }

/*Tablet*/
@media (min-width:600px) and (max-widht:1024px) {

/* Menú */



/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

